<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/dist/imagens/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/dist/styles/main.css">
    <title>Disney+</title>
</head>

<body>
    <header class="header header--is-hidden">
        <div class="header__container">
            <h1>
                <img class="header__logo" src="/src/imagens/images/disneyplus.svg" alt="Disney+">
            </h1>
            <ul class="header__links">
                <li class="header__links__item">
                    <a href="#" class="button button--secondary">Assine agora</a>
                </li>
                <li class="header__links__item">
                    <a href="#" class="button button--dark">Entrar</a>
                </li>
            </ul>
        </div>
    </header>
    <section class="hero">
        <div class="hero__content">
            <div class="hero__content__branding">
                <img src="/src/imagens/images/disneyplus.svg" alt="logo disney">
            </div>
            <h3 class="title--small">
                As melhores histórias em um só lugar.
            </h3>

            <p>
                <a class="link--text" href="#">
                    Assinar o Disney+
                </a>
                <br>

                <span class="text">R$ 27,90/mês o R$ 279,90/ano à vista*</span>
            </p>
            <ul class="hero__content__combos">
                <li class="hero__content__combos__combo">
                    <img src="/src/imagens/images/logos/disney_star_plus_sm.png" alt="Disney+ - Star+ - Combo+">
                    <button class="button">Assine Agora</button>
                    <span class="text">R$ 45,90/mês*</span>
                </li>
                <li class="hero__content__combos__combo">
                    <img src="/src/imagens/images/logos/disney_star_plus_starzplay_underline.png"
                        alt="Disney+ - Star+ - Combo+">
                    <button class="button">Assine Agora</button>
                    <span class="text">R$ 45,90/mês*</span>
                </li>
            </ul>
            <p class="text--small">
                *O preço pode variar caso a assinatura seja feita através de outras plataformas.
            </p>
        </div>
    </section>
    <section class="shows">
        <nav class="shows__tabs">
            <button data-tab-button="em_breve" class="shows__tabs__button shows__tabs__button--is-active">
                Em breve
            </button>
            <button data-tab-button="populares" class="shows__tabs__button">
                Mais populares
            </button>
            <button data-tab-button="star_plus" class="shows__tabs__button">
                Mais no Star+
            </button>
        </nav>
        <ul data-tab-id="em_breve" class="shows__list shows__list--is-active">
            <li class="shows__list__item">
                <img src="/src/imagens/images/em_breve/desencantada.jpg" alt="desencantada">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/em_breve/lobisomem.jpg" alt="lobisomem">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/em_breve/sem_limites.jpg" alt="sem limites">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/em_breve/the_santa_clauses.jpg" alt="santa claus">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/em_breve/willow.jpg" alt="wilow">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/em_breve/spidey.jpg" alt="wilow">
            </li>

        </ul>
        <ul data-tab-id="populares" class="shows__list">
            <li class="shows__list__item">
                <img src="/src/imagens/images/mais_populares/obi_wan.jpg" alt="Obi Wan">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/mais_populares/bluey.jpg" alt="bluey">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/mais_populares/cavaleira_da_lua.jpg" alt="cavaleira">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/mais_populares/o_incrivel_dr_pol.jpg" alt="o incrível">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/mais_populares/red.jpg" alt="red">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/mais_populares/tudo_igual_sqn.jpg" alt="tudo igual sqn">
            </li>
        </ul>
        <ul data-tab-id="star_plus" class="shows__list">
            <li class="shows__list__item">
                <img src="/src/imagens/images/mais_no_star_plus/libertadores.jpg" alt="Libertadores">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/mais_no_star_plus/belair.jpg" alt="belair">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/mais_no_star_plus/nba.jpg" alt="nba">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/mais_no_star_plus/os_simpson.jpg" alt="os simpsons">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/mais_no_star_plus/premier_league.jpg" alt="premier league">
            </li>
            <li class="shows__list__item">
                <img src="/src/imagens/images/mais_no_star_plus/the_kardashians.jpg" alt="the_kardashians">
            </li>
        </ul>
    </section>
    <section class="plans">
        <h2 class="title--big">Escolha seu plano</h2>
        <ul class="plans__list">
            <li class="plans__list__item">
                <img src="/src/imagens/images/logos/disneyplus_underline.png" alt="Disney+">
                <strong class="title--small">R$ 27,90/mês*</strong>
                <p class="text--big">
                    No Disney+ você encontra as últimas estreias do cinema, originais e clássicos inesquecíveis.
                </p>
                <button class="button">Assine agora</button>
            </li>
            <li class="plans__list__item">
                <img src="/src/imagens/images/logos/disney_star_plus_sm.png" alt="Disney+">
                <strong class="title--small">R$ 45,90/mês*</strong>
                <p class="text--big">
                    Assine Disney+ e Star+ juntos. Economize e aproveite agora os dois serviços por um preço único.
                </p>
                <button class="button">Assine agora</button>
            </li>
            <li class="plans__list__item">
                <img src="/src/imagens/images/logos/disney_star_plus_starzplay_underline.png" alt="Disney+">
                <strong class="title--small">R$ 55,90/mês*</strong>
                <p class="text--big">
                    Disney+, Star+ e STARZPLAY em um plano especial. Assine agora os três serviços juntos.
                </p>
                <button class="button">Assine agora</button>
            </li>
        </ul>
        <p class="text--small">
            *O preço pode variar caso a assinatura seja feita através de outras plataformas.
        </p>
    </section>
    <section class="image-text-section">
        <img src="../src/imagens/images/tv_pc_tablet_celular.png" alt="imagem com tv, pc, tablet e celular" />
        <div class="image-text-section__text__container">

            <h2 class="title--big">Assista do seu jeito</h2>
            <p class="text--big">
                Aproveite a tela grande da tv ou assista no tablet, laptop, celular e outros aparelhos. Nossa seleção de
                títulos em 4k não para de crescer. Além disso, para a felicidade de todos,
                é possível assistir em até 4 telas ao mesmo tempo.
            </p>
        </div>
    </section>
    <section class="image-text-section image-text-section--img-full-width ">
        <img src="../src/imagens/images/fundo_rei_leao.png" alt="imagem com tv, pc, tablet e celular" />
        <div class="image-text-section__text__container image-text-section--img-full-width__text__container">

            <h2 class="title--big">Baixe filmes e séries</h2>
            <p class="text--big">
                Baixe e assista quando e onde quiser. Assim, seus favoritos estarão sempre com você, até mesmo sem
                internet.
            </p>
        </div>
    </section>
    <section class="available-devices">
        <h2 class="title--small">Disponível em seus dispositivos favoritos</h2>
        <ul class="available-devices__list">
            <li class="available-devices__list__item">
                <img src="/src/imagens/images/dispositivos/computador.png" alt="computador">
                <h4 class="title--small">
                    computador
                </h4>
                <ul class="text--big">
                    <li>Chrome</li>
                    <li>MacOS</li>
                    <li>PC Windows</li>
                </ul>
            </li>
            <li class="available-devices__list__item">
                <img src="/src/imagens/images/dispositivos/tv.png" alt="computador">
                <h4 class="title--small">
                    TV
                </h4>
                <ul class="text--big">
                    <li>Amazon Fire TV</li>
                    <li>Android TV</li>
                    <li>Chromecast</li>
                    <li>Roku</li>
                </ul>
            </li>
            <li class="available-devices__list__item">
                <img src="/src/imagens/images/dispositivos/videogames.png" alt="computador">
                <h4 class="title--small">
                    Videogames
                </h4>
                <ul class="text--big">
                    <li>PS4</li>
                    <li>PS5</li>
                    <li>Xbox One</li>
                    <li>Xbox Series X</li>
                    <li>Xbox Series S</li>
                </ul>
            </li>
            <li class="available-devices__list__item">
                <img src="/src/imagens/images/dispositivos/celular.png" alt="computador">
                <h4 class="title--small">
                    celurares e Tablets
                </h4>
                <ul class="text--big">
                    <li>Tablets Amazon Fire</li>
                    <li>Celurares e Tablets Android</li>
                    <li>iPhone e iPad</li>
                </ul>
            </li>
        </ul>

    </section>
    <section class="faq">
        <h2 class="title--big">Perguntas frequentes</h2>
        <ul class="faq__questions" data-tab-question>
            <li class="faq__questions__item ">
                <div class="faq__questions__item__question">
                    O que é o Disney+?

                </div>
                <div class="faq__questions__item__answer text--big">
                    O Disney+ é o serviço de streaming da Disney, Pixar, Marvel, Star Wars, National Geographic e Star.
                    De conteúdo original exclusivo até as histórias clássicas que você já conhece e adora, o Disney+
                    oferece acesso a milhares de títulos, com uma experiência de alta qualidade.
                </div>
            </li>
            <li class="faq__questions__item ">
                <div class="faq__questions__item__question">
                    O que a minha assinatura do Disney+ inclui? ?

                </div>
                <div class="faq__questions__item__answer text--big">
                    A assinatura dá acesso ao catálogo do Disney+ disponível na sua região, a recomendações
                    personalizadas e a recursos como downloads. Veja mais informações sobre os diferentes recursos do
                    Disney+ disponíveis de acordo com o plano selecionado, incluindo download de conteúdo, telas
                    simultâneas e qualidade do vídeo e do áudio. A assinatura também permite assistir em vários
                    dispositivos compatíveis em uma Residência ao mesmo tempo.
                </div>
            </li>
            <li class="faq__questions__item ">
                <div class="faq__questions__item__question">
                    Como posso começar a usar o Disney+?

                </div>
                <div class="faq__questions__item__answer text--big">
                    Quer assinar? Primeiro, você precisa de um dispositivo compatível, uma forma de pagamento válida e
                    ser maior de 18 anos ou a idade de maioridade na sua jurisdição de residência.

                    <br>
                    <br>

                    Como posso assinar o Disney+?
                    <br>
                    Para assinar, acesse DisneyPlus.com em um navegador no computador ou celular, ou baixe o aplicativo
                    do Disney+ e assine no seu dispositivo.
                    <br>
                    <br>



                    Como posso gerenciar a minha assinatura?
                    <br>
                    Você pode fazer alterações na assinatura ou editar as informações da conta direto na página da sua
                    conta em DisneyPlus.com. Se você assinou o Disney+ por meio de uma empresa parceira, o gerenciamento
                    de assinaturas é feito diretamente por meio dessa empresa.
                    <br>
                    <br>


                    Posso configurar e gerenciar meu perfil?
                    <br>
                    Depois de assinar, você pode criar até sete perfis para sua Residência e gerenciá-los em qualquer
                    dispositivo compatível.
                    <br>
                    <br>


                    O Disney+ oferece controle parental?
                    <br>
                    O Disney+ oferece várias opções de controle parental, como Modo Júnior, proteção com PIN do perfil e
                    classificação indicativa.


                </div>
            </li>
            <li class="faq__questions__item ">
                <div class="faq__questions__item__question">
                    Quantas pessoas podem compartilhar a assinatura do Disney+?

                </div>
                <div class="faq__questions__item__answer text--big">
                    Você pode criar até sete perfis para a sua Residência na conta e gerenciá-los em qualquer
                    dispositivo compatível. Cada assinatura do Disney+ deve ser usada apenas em uma Residência. No
                    entanto, você pode adicionar uma pessoa que não mora na sua Residência à assinatura se comprar o
                    complemento Membro Extra.
                </div>
            </li>
        </ul>
    </section>
    <footer class="footer">
        <div class="footer__container">
            <img class="footer__container__logo" src="../src/imagens/images/disneyplus.svg" alt="marca disney">
        </div>
         <ul class="footer__links">
                <li class="footer__links__item">
                    <div class="language-selector">
                        <img src="../src/imagens/images/icones/globe.svg" alt="Globo do mundo">
                        <select>
                            <option>English</option>
                            <option selected>Português</option>
                        </select>
                    </div>
                </li>
                <li class="footer__links__item">
                    <a href="#" class="text--small">Termos e Condições de Uso</a>
                </li>
                <li class="footer__links__item">
                    <a href="" class="text--small">Política de privacidade</a>
                </li>
                <li class="footer__links__item">
                    <a href="#" class="text--small">Proteção de Dados no Brasil</a>
                </li>
                <li class="footer__links__item">
                    <a href="#" class="text--small">Anúncios personalizados</a>
                </li>
                <li class="footer__links__item">
                    <a href="" class="text--small">
                        Dispositivos compatíveis
                    </a>
                </li>
                <li class="footer__links__item">
                    <a href="#" class="text--small">Ajuda</a>
                </li>
                <li class="footer__links__item">
                    <a href="" class="text--small">Sobre o Disney+</a>
                </li>
            </ul>
            <p class="text--small">
                ® 2022 Disney, Disney+ e The Walt Disney Company. Todos os direitos reservados. Serviço de assinatura paga. Conteúdo sujeito a disponibilidade.
            </p>
            <p class="text--small">
                Disney+ é um serviço pago, baseado em assinatura e sujeito a termos e condições. O serviço Disney+ é comercializado por The Walt Disney Company (Brasil) Ltda., World Trade Center, Av. Das Nações Unidas, 12.551, 12.555, 12.559, Piso 10, São Paulo/SP – CEP 04578-903, Brasil e CNPJ/M 73.042.962/0004-20
            </p>
    </footer>
    <script src="/dist/script_min/index.js"></script>
</body>

</html>