//use
@use "variaveis";
//fim use

//header
.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    transition: background-color 0.5s ease;
    z-index: 1;
    
    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        @media (max-width:768px) {
            padding: 0 12px 0 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity 0.5s ease;
        @media (max-width:768px) {
            max-width: 60px;
        }


    }

    &__links {
        display: flex;

        &__item {
            margin: 20px;
            transition: opacity 0.5s ease;
        }

    }

    .button {
        height: 30px;
        @media (max-width:768px) {
            font-size: 13px;
            letter-spacing: 0;
            padding: 2px 4px;
            height: auto;
        }        

    }

    &--is-hidden {
        background-color: transparent;
        transition: all 0.5 ease-out;

        .header {

            &__logo,
            &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: all 0.5 ease-out;
            }
        }
    }


}

//fim header